body {
    background: rgb(17,17,34);
}

.App {
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    /* background: url('assets/trans.png') repeat; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/trans.png') repeat;
}
