body {
    background: rgb(17,17,34);
}

.App {
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    background-color: rgba(17,17,68,1);
    background-image: url('assets/synth_components.png');
    background-repeat: repeat-y;
    background-size: 100%;
}
